<div class="row" ng-hide="contact._id">
    <div class="col-md-6">
        <h2>Create new contact</h2>
    </div>
  </div>
  <div class="container">     
      <div id  = "bannerbuttons">
        <button id="gohome" ><a class="fa fa-list" ng-click="saveContact(contact)">Save</a></button>
        <button id = "addnew"><a class="fa fa-plus-square"  ng-click="back()">Back</a></button>
      </div>
    <div>
      <p>
        <label>Name (required)</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.Name" required> 
      </p>
      <p>
        <label>Email (required)</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
      </p>
      <p>
        <label>Phone</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.phone"> 
      </p>

 
    </div>
  </div>